#bio {
    margin-top: 40px;
}
#bioContent {
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    align-content: center;
}
#bioContent img {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    border-radius: 100px;
    border: 2px solid rgb(69,185,1);
}
#bioContent p {
    margin: auto;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
}
@media only screen and (max-width: 700px) {
    #bioContent {
        width: 90%;
        display: block;
    }
    #bioContent img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    #bioContent p {
        text-align: justify;
    }
}