#contactForm {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 29, 0.9);
    font-family: 'Source Sans Pro', sans-serif;
}
#contactForm h1 {
    margin-bottom: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36pt;
}
#contactForm hr {
    width: 200px;
    margin: 0px auto 15px auto;
    border: 2px solid rgb(240, 55, 98);
}
#contactForm p {
    width: 400px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16pt;
    color: rgb(255, 255, 255);
}
#contactForm input {
    width: 400px;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 29);
    border: none;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
}
#contactForm textarea {
    width: 400px;
    height: 100px;
    padding: 5px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 29);
    border: none;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
}
#contactForm input:focus,
#contactForm textarea:focus {
    outline: none;
}
#buttonDiv {
    position: relative;
}
#submit {
    font-size: 12pt;
    display: flex;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    transition: background-color 0.25s ease-in;
    position: absolute;
    right: 0;
}
#submit:hover {
    background-color: rgb(69, 185, 1);
    transition: 0.25s ease-out;
}
@media only screen and (max-width: 650px) {
    #contactForm {
        min-height: 80vh;
    }
    #contactForm p {
        width: 300px;
    }
    #contactForm input {
        width: 300px;
    }
    #contactForm textarea {
        width: 300px;
    }
}
@media only screen and (max-width: 330px) {
    #contactForm {
        padding-bottom: 40px;
    }
}